package migraines

import (
	m "github.com/dnnyjns/migraine"
	"github.com/jinzhu/gorm"
)

// Migraine for {{.Name}}
func init() {
  migraine := &m.Migraine{
		Version: "{{.Version}}",
		Perform: func(db *gorm.DB) {

		},
	}
	m.Add(migraine)
}
